/* This is for nav bar and Event page */

.navbar-nav .nav-link {
    font-size: 1.1rem; 
    padding: 1.3rem 3.3rem;
    margin-right: 50px; 
  }

  .navbar-nav {
    margin-left: auto; 
    margin-right: 70px; 
  }
  
  .navbar-brand img {
    border-radius: 30%; 
    width: 70px; 
    height: 70px;
    margin-left: 30px; 
  }
  
@media (max-width: 768px) { 
  .navbar-nav .nav-link {
    font-size: 1.2rem; 
    padding: 0.5rem 1.5rem; 
    margin-right: 20px; 
    text-align: center;
  }

  .navbar-nav {
    margin-right: 10px;
  }

.navbar-brand img {
    width: 50px; 
    height: 50px;
    margin-left: 10px;
  }
}