.navbar-nav .nav-link {
    font-size: 1.1rem; /* Increase font size */
    padding: 1.3rem 3.3rem;
    margin-right: 50px;  /* Adjust padding if needed */
  }
  
  /* Center align the navbar items */
  .navbar-nav {
    margin-left: auto; /* This pushes the nav items to the left slightly */
    margin-right: 70px; /* Adjust this value to center the items better */
  }
  
  /* Round the logo */
  .navbar-brand img {
    border-radius: 30%; /* Makes the logo round */
    width: 70px; /* Adjust width as needed */
    height: 70px;
    margin-left: 30px; /* Adjust height as needed */
  }
  
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Smaller font size for mobile */
    padding: 0.5rem 1.5rem; /* Less padding for mobile */
    margin-right: 20px; 
    text-align: center;/* Less margin for mobile */
  }

  /* Center align the navbar items */
  .navbar-nav {
    margin-right: 10px; /* Adjust margin for better centering on mobile */
  }

  /* Round the logo */
  .navbar-brand img {
    width: 50px; /* Smaller logo for mobile */
    height: 50px; /* Smaller logo for mobile */
    margin-left: 10px; /* Less margin for mobile */
  }
}